/*
navbar-ggNavBAr

*/

/*

 Go to This link to change the Navbar colors
 http://work.smarchal.com/twbscolor/css/0f90fa0f90faffffffff22000

 */
.navbar-ggNavBAr {
    background-color: #005483;
    border-color: #005483;
}
.navbar-ggNavBAr .navbar-brand {
    color: #ffffff;
}
.navbar-ggNavBAr .navbar-brand:hover,
.navbar-ggNavBAr .navbar-brand:focus {
    color: #ececec;
}
.navbar-ggNavBAr .navbar-text {
    color: #ffffff;
}
.navbar-ggNavBAr .navbar-nav > li > a {
    color: #ffffff;
}

/*TODO You can change hover link color here */

.navbar-ggNavBAr .navbar-nav > li > a:hover,
.navbar-ggNavBAr .navbar-nav > li > a:focus {
    color: #000000;
}
.navbar-ggNavBAr .navbar-nav > .active > a,
.navbar-ggNavBAr .navbar-nav > .active > a:hover,
.navbar-ggNavBAr .navbar-nav > .active > a:focus {
    color: #ececec;
    background-color: #005483;
}
.navbar-ggNavBAr .navbar-nav > .open > a,
.navbar-ggNavBAr .navbar-nav > .open > a:hover,
.navbar-ggNavBAr .navbar-nav > .open > a:focus {
    color: #ececec;
    background-color: #005483;
}
.navbar-ggNavBAr .navbar-toggle {
    border-color: #005483;
}
.navbar-ggNavBAr .navbar-toggle:hover,
.navbar-ggNavBAr .navbar-toggle:focus {
    background-color: #005483;
}
.navbar-ggNavBAr .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-ggNavBAr .navbar-collapse,
.navbar-ggNavBAr .navbar-form {
    border-color: #ffffff;
}
.navbar-ggNavBAr .navbar-link {
    color: #ffffff;
}
.navbar-ggNavBAr .navbar-link:hover {
    color: #ececec;
}

@media (max-width: 767px) {
    .navbar-ggNavBAr .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-ggNavBAr .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-ggNavBAr .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ececec;
    }
    .navbar-ggNavBAr .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-ggNavBAr .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-ggNavBAr .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ececec;
        background-color: #005483;
    }
}