
/*
.Alert classes are used for the flash messages
*/

.Alert{
  background: #00AA88;
  padding: 10px;
}
.Alert--Success{
  background: #00cc00;
}

.Alert--Info{
  background: #1b6d85;
}

.Alert--Error{
  background: #8b211e;
  color: white;
}

/**
The form control is for the form fields to be a bit bigger
*/
.form-control{

  height: 39px;

}

#skillTask{

  max-width: 100%;
  
}

img{

  max-width: 100%; /*Max width of there container*/

}

.gallery_image{

  margin-bottom: 1mm;

}
.tableTaskDetails{
  height:40px;
  line-height:20px; /* Height / no. of lines to display */
  overflow:hidden;
}

.recentPostDetails{
  height:40px;
  line-height:20px; /* Height / no. of lines to display */
  overflow:hidden;
}
.tableTaskPrice{

  width: 100px;

}
.tableTaskTopic{

  width: 100px;

}
.tableTaskSkills{
  width: 80px;

}

/* CSS Added by Shaan
------------------------------------------------------- */

.box {
  background-color: #FFF;
  padding: 5px 40px;
  border-top:3px solid #DDD;
  border-bottom:2px solid #EEE;
  border-right:1px solid #EEE;
  border-left:1px solid #EEE;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

/* END of CSS Added by Shaan
------------------------------------------------------- */
