.list li {
    background: url("http://bradfrost.github.com/this-is-responsive/patterns/images/icon_arrow_right.png") no-repeat 97% 50%;
    border-bottom: 1px solid #ccc;
    display: table;
    border-collapse: collapse;
    width: 100%;
}
.inner {
    display: table-row;
    overflow: hidden;
}
.li-img {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    padding-right: 1em;
}
.li-img img {
    display: block;
    width: 100%;
    height: auto;
}
.li-text {
    display: table-cell;
    vertical-align: middle;
    width: 70%;
}
.li-head {
    margin: 0;
}
.li-sub {
    margin: 0;
}

@media all and (min-width: 45em) {
    .list li {
        float: left;
        width: 50%;
    }
}

@media all and (min-width: 75em) {
    .list li {
        width: 33.33333%;
    }
}